@use "../../scss" as *;

.banner {
  height: 50vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include overlay();
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
  }
}

.movie-content {
  @include flex(flex-start, flex-start);
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  position: relative;
  padding: 0 2rem;

  &__poster {
    flex: 1;
    display: flex;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }

    img {
      border-radius: $border-radius;
      width: 20rem;
    }

    .options-poster {
      display: flex;
      justify-content: space-between;

      svg{
        font-size: 2rem;
        cursor: pointer;
        transition: 0.5s;
      }

      svg:hover{
        transform: scale(1.3);
      }

      &__edit {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
          color: green;
        }
      }

      &__delete {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
          color: red;
        }
      }
    }
  }

  &__info {
    width: 70%;
    padding-left: 2rem;
    position: relative;

    @include mobile {
      width: 100%;
      padding-left: 0;
      font-size: 2rem;
    }

    & > * {
      margin-bottom: 2rem;
    }

    .title {
      font-size: 4rem;
      line-height: 1;
    }
  }
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 3rem;

  &__title {
    margin-bottom: 1.5rem;

    @include mobile {
      font-size: 2.5rem;
    }
  }

  .iframe-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    iframe {
      width: 60%;
    }

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
      height: 100%;
      iframe {
        width: 100%;
      }
    }
  }
}
